import random
print("Welcome to random equation generator.")
while True:
    q = "then what is x?"
    true1 = "congratulations your answer is correct"
    false1 = "your answer is wrong."
    ans = "correct answer:"
    request1 = "please enter the answer."
    isaretler1 = ["*","/"]
    isaretler2 = ["+","-"]
    x = random.randint(1,10)
    y = random.randint(1,10)
    z = random.randint(1,10)
    a = random.choice(isaretler1)
    b = random.choice(isaretler2)
    kontrol1 = y/z
    kontrol2 = y//z
    if kontrol1 == kontrol2 and kontrol2 > 0 and kontrol1 > 0 and y > x:
        # y*x-z =?
        if a == "*" and b == "+":
            process1 = int(y) * int(x)
            end = int(process1) + int(z)
            print(y, a, "x", b, z, "=", end, q)
            alinan = int(input(request1))
            if alinan == x:
                print(true1)
            else:
                print(false1)
                print(ans, x)
        # y*x-z = ?
        elif a == "*" and b == "-":
            process1 = int(y) * int(x)
            end = int(process1) - int(z)
            print(y, a, "x", b, z, "=", end, q)
            alinan = int(input(request1))
            if alinan == x:
                print(true1)
            else:
                print(false1)
                print(ans, x)
        # y/x+z = ?
        elif a == "/" and b == "+":
            process1 = int(y) // int(x)
            process2 = round(process1)
            end = int(process2) - int(z)
            print(y, a, "x", b, z, "=", end, q)
            alinan = int(input(request1))
            if alinan == x:
                print(true1)
            else:
                print(false1)
                print(ans, x)
        # y/x-z= ?
        elif a == "/" and b == "-":
            process1 = int(y) // int(x)
            process2 = round(process1)
            end = int(process2) - int(z)
            print(y, a, "x", b, z, "=", end, q)
            alinan = int(input(request1))
            if alinan == x:
                print(true1)
            else:
                print(false1)
                print(ans, x)
    else:
        continue
